.get-ride{}

.rides{
    box-shadow: 0 10px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
    border-radius: .75rem;
    padding: 3rem;
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
}

.rides img{
    width: 150px;
}

.ride-extra p i{
    font-size: 14px;
}

