.ride-bg{
    padding: 100px 50px;
    border-radius: 1.5rem;
}

.ride-title{
    text-align: right;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .ride-bg {
        padding: 60px 20px;
    }
}

 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) {
    .ride-bg {
        padding: 60px 20px;
        width: 60%;
        margin: 0 auto;
    }
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .ride-bg {
        padding: 60px 20px;
        width: 60%;
        margin: 0 auto;
    }
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .ride-bg {
        padding: 60px 20px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}