.btn-tag-1 {
    background-image: linear-gradient(rgb(82, 82, 82), rgb(38, 38, 38));
    box-shadow: rgb(0 0 0 / 36%) 1px 4px 4px, rgb(0 0 0 / 40%) 0px -5px 0px inset;
    border-bottom-color: rgb(229, 229, 229);
    padding: 10px 30px;
    border-radius: 8px;
    color: white;
}

.btn-tag-1:hover {
    background-image: linear-gradient(#171717, #262626);
    color:white;
}

.brand{
    display: inline-block;
}

.login-btn a i{
    font-size: 14px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .brand {
        display: inline;
    }
}
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    
  }
  
  /* Medium devices(sm) (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    
  }
  
  /* Large devices(md) (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
     
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  }
  