* {
	margin: 0;
	padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
	font-family: 'AxiformaRegular', sans-serif;
  color: #25262B;
}

.App {

}

h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}

ul{
	margin: 0;
	padding:0;
	list-style: none;
}

a{
	margin:0;
	text-decoration: none;
  color: #000;
}

a:hover{
	text-decoration:none;
  color: #000;
}

a, select , input , textarea , button{
	outline: none !important;
}

.c_custom{
  max-width: 1440px !important;
}